[Unit]
Description=Phosh Priority Hack
After=phosh.service
Requires=phosh.service

[Service]
TimeoutStartSec=0
Restart=on-failure
ExecStart=/bin/sh /usr/local/sbin/phosh_renice

[Install]
WantedBy=multi-user.target
